
.centred {
  text-align: center;
}

.overlay {
  background-color: white;
  padding: .5em;
}

.player {
  font-size: 85%;
  cursor: default;
}

.controls {
  display: flex;
}

.periodBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  width: 2em;
}

.number div input {
  height: 1em;
}
