@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/datetime/dist/blueprint-datetime.css";
@import "~fullcalendar/dist/fullcalendar.min.css";

.nav-link {
  color: #182026;
  margin-right: 1em;
}

.active-link {
  color: #ff0000;
}

button:focus {
  outline: none;
}

.app-caption {
  position: relative;
  margin-right: 2em;
}

.menu {
  margin-left: 2em;
}

.app-caption .version {
  position: absolute;
  top: -0.5em;
  right: -2.2em;
  font-size: 60%;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
}


/* Calendar styles override */
.fc-center h2 {
  color: #ddd;
}

.fc-center h2:hover {
  color: #182026;
  cursor: default;
}
